@model List<Duenio>

<h2 style="text-align:center">MOSTRAMOS LOS DUEÑOS</h2>

<table class="table">
    <tr>
        <td>DNI</td>
        <td>NOMBRE</td>
        <td>APELLIDO</td>
        <td>EMAIL</td>
        <td>TELEFONO</td>
        <td>MASCOTA</td>

    </tr>
    @foreach(Duenios d in Model)
    {
        <tr>
            <td>@d.DNI</td>
            <td>@d.Nombre</td>
            <td>@d.Apellido</td>
            <td>@d.email</td>
            <td>@d.Telefono</td>
            <td>@d.Mascota.Nombre</td>

            }
        </tr>
    }
</table>
</html>